<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dev Box</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
  	<nav>
  		<h1>
  			<img src="images/logo.png" alt="logo"/>
  			<span class="visually-hidden">Dev Box</span>
		</h1>
		<ul>
		<li class="nav-item explore"><i class="material-icons">explore</i>Explore</li>
		<li class="nav-item folder"><i class="material-icons">folder</i>Folder</li>
		<li class="nav-item upload"><i class="material-icons">cloud_upload</i>Upload</li>

	</nav>
	<header>
		<h1>
			<p class="heading">Explore Your Digtal Content</p>
			<p class="subheading">Assets</p>
		</h1>
	</header>
	<main>
		<section>
			<div id="actions">
				<i id="sortby" class="material-icons">sort_by_alpha</i>
			</div>
		</section>
		<section id="cards">
		</section> 
	</main>
    <script src="/js/index.js"></script>
  </body>
</html>
